#btnConsultar{
    float: right;
    margin-right: 4%;
}
#formulario{
   margin-top: 5%; 
  float: right;
  width: 95%;
  height: auto;
  padding: 1%;
}
#formularioc{
    border-bottom: 2px solid #66665e;
  alignment-adjust: central;
  float: none;
  height: auto;
  padding: 4%;
}
#txtPrimerNombre, #txtSegundoApellido, #txtDireccion{
    margin-top: 3%;
}
#segundonombre, #primerapellido{
    margin-left: 5%;
}
#telefono{
    margin-left: 8%;
}
#btnLimpiar{
    margin-top: 3%;
    margin-left: 80%;
}