#contenedor{
    margin:0 auto 0 auto;
    background-color: #ffffff;
  margin-top: 5%;
  width: 90%;
  height: auto;
  padding: 25px 25px;
  overflow: auto;
  outline: none;
-moz-box-shadow: 5px 6px 20px #000000;
-webkit-box-shadow: 5px 6px 20px #000000;
box-shadow: 5px 6px 20px #000000;
}
#formularioc{
  alignment-adjust: central;
  float: none;
  height: auto;
  padding: 2%;
  display: none;
}
#formulario{
  float: right;
  width: 95%;
  height: auto;
  padding: 1%;
}
#btnConsultar{
    float: right;
    margin-right: 4%;
}
#correo, #contrasena, #contrasena2{
    margin-left: 5%;
    margin-bottom: 2%;
}
#buscar{
    float: right;
}
#idrol, #idempleado{
    margin-right: 2%;
}
table{ 
    border-collapse: separate;
   border-spacing: 2px;
   background-color: #66665e;
width: 100%;
height:auto;
}