#idrol, #idempleado{
    margin-right: 2%;
}
#correo, #contrasena, #contrasena2{
    margin-left: 5%;
    margin-bottom: 2%;
}
#Nombrerol{
  width: 50%;  
}
#btnCrearu, #btnCancelaru{
    margin-top: 2%;
}
#btnCrearu{
    margin-left: 77%;
}
#btnVCrearr, #btnVCancelarr{
    margin-top: 5%;
}
#lbelrol{
    margin-left: 3%;
}
#btnVCrearr{
    margin-right: 2%;
}
#btnVcrearr{
    margin-right: 2%;
}
#formularioc{
    border-bottom: 2px solid #66665e;
  alignment-adjust: central;
  float: none;
  height: auto;
  padding: 4%;
  
}

