#formulario{
   margin-top: 5%; 
  float: right;
  width: 95%;
  height: auto;
  padding: 1%;
}
#btnGuardar{
    margin-top: 3%;
    margin-left: 80%;
}
#costo, #proveedor , #material{
    margin-left: 5%;
}
#material{
    margin-left: 10%;
}
