/* 
    Document   : Validaciones
    Created on : 26/04/2014, 07:06:34 PM
    Author     : Johanagt
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.lblestil{

color:#FF0000;

}

