#derecha{
    border: 2px solid #66665e;
    height: auto;
    width: 65%;
    padding: 1%;
    float: right;
}
#izquierda{
    border: 2px solid #66665e;
    float: left;
    height: auto;
    width: 30%;
    padding: 1%;
}
.listas{
    border: 2px solid #66665e;
    height: 70px;
    width: 100%;
    margin-bottom: 5%;
}